{% extends 'apnabase.html' %}
{% load static %}

{% block content %}
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Transfer Funds</h3>
        <div class="balance"> <span><img src="{% static 'static/img/icon/dollar-sign.png' %}" alt="img"></span></div> 
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            
			<form class="mdc-layout-grid__inner" action="/wallet/search-beneficiary/">
				<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
					<div class="mdc-text-field mdc-text-field--outlined">
						
						<input name="query" type="search" class="mdc-text-field__input" required id="text-field-hero-input" aria-label="Search">


						<div class="mdc-notched-outline">
							<div class="mdc-notched-outline__leading"></div>
							<div class="mdc-notched-outline__notch">
								<label for="text-field-hero-input" class="mdc-floating-label">Enter User ID
								</label>
							</div>
							<div class="mdc-notched-outline__trailing"></div>
						</div>
					</div>
				</div>
				<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
					<button type="submit" class="mdc-button mdc-button--raised w-100">
						Search
					</button>
				</div>
			</form>
		</div>
		<p>{{ message }}</p>
        </div>
    </div>
    <div class="container">

    </div>{% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}
