{% extends 'apnabase.html' %}
{% load static %}

{% block content %}
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Transfer Funds</h3>
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            
			<form class="mdc-layout-grid__inner" action="/wallet/search-beneficiary/">
				<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
					<div class="mdc-text-field mdc-text-field--outlined">
						
						<input name="query" type="search" class="mdc-text-field__input" required id="text-field-hero-input" aria-label="Search">


						<div class="mdc-notched-outline">
							<div class="mdc-notched-outline__leading"></div>
							<div class="mdc-notched-outline__notch">
								<label for="text-field-hero-input" class="mdc-floating-label">Enter User ID
								</label>
							</div>
							<div class="mdc-notched-outline__trailing"></div>
						</div>
					</div>
				</div>
				<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
					<button type="submit" class="mdc-button mdc-button--raised w-100">
						Search
					</button>
				</div>
			</form>
		</div>
		{% if message != '' %}
		<div class="uikit-alert-area">
			<div class="uikit-alert-inner text-center">
				<div class="icon base-color">
					<svg class="svg-inline--fa fa-check-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg><!-- <i class="fa fa-check-circle"></i> Font Awesome fontawesome.com -->
				</div>
				<div class="details">
					<h6 class="title">Success</h6>
					<p>{{message}}</p>
					<a class="btn btn-base w-100" href="/users/">Done</a>
				</div>
			</div>
		</div>
		{% endif %}
        </div>
    </div>
    <div class="container">

    </div>{% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}
