{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block refresh %}
{% endblock refresh %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner %}

<div class="body-overlay" id="body-overlay"></div>

    
<div class="container">
    <div class="align-items-center d-flex justify-content-center vh-100">
        <div class="register-page">
            <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
            <h3>Let’s login.</h3>
                <p>Let us know what your ID, and your password</p>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}{{ field.name }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <form class="default-form-wrap" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-input-wrap">
                            <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>
                            <input type="text" class="form-control" name="login" placeholder="Enter your User ID">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input-wrap">
                            <label><img src="{% static 'static/img/icon/password.svg' %}" alt="img"></label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password">
                            <button class="show-pass-btn"><img src="{% static 'static/img/icon/eye.svg' %}" alt="img"></button>
                        </div>
                    </div>
                    <div class="text-end"><a href="#">Forgot password?</a></div>
                  </div>
                <button type="submit" class="btn btn-base w-100">Login</button>
            </form>
            <div class="text-center">
                <div class="or-border"><span>Or Sign Up With</span></div>
                <ul class="social-area">
                    <li><img src="{% static 'static/img/icon/facebook.svg' %}" alt="img"></li>
                    <li><img src="{% static 'static/img/icon/apple.svg' %}" alt="img"></li>
                    <li><img src="{% static 'static/img/icon/google.svg' %}" alt="img"></li>
                </ul>
            </div>

            <span class="another-way-link">Don't have an account? <a href="/accounts/signup/">Sign Up</a></span>
        </div>           
    </div>
</div>

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}