{% load i18n static %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% extends 'apnabase.html' %}
{% load static %}

{% block content %}
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Change Password</h3>
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            <div class="media">
                <img class="thumb" src="{% static 'static/img/comment/my-profile.png' %}" alt="img">
                <div class="media-body">
                    <h6 class="profile-name">{{message}}</h6>
                </div>
                <img class="star star1" src="{% static 'static/img/icon/star.png' %}" alt="img">
                <img class="star star2" src="{% static 'static/img/icon/star.png' %}" alt="img">
            </div>
        </div>
    </div>
    <div class="container">
      <form method="POST" action="/accounts/password/change/" class="password_reset">
        {% csrf_token %}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-text-field w-100">
                <input type="text" class="form-control mt-3" id="text-field-hero-input" name="oldpassword" placeholder="" autofocus="autofocus" maxlength="150">
                <div class="mdc-line-ripple"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Old Password</label>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-text-field w-100">
                <input type="text" class="form-control mt-3" id="text-field-hero-input" name="password1" placeholder="" autofocus="autofocus" maxlength="150">
                <div class="mdc-line-ripple"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-text-field w-100">
                <input type="text" class="form-control mt-3" id="text-field-hero-input" name="password2" placeholder="" autofocus="autofocus" maxlength="150">
                <div class="mdc-line-ripple"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Confirm Password</label>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-base w-100">
            </div>
          </div>
        </div>
      </form>
    </div>{% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}


{% block inner %}
        <main class="auth-page">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                <div class="mdc-card" align="center">
                  <br><br>
                  <h3>{% trans "Change Password" %}</h3>
                  
                      <div>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="fluid"
                        data-ad-layout-key="-6t+ed+2i-1n-4w"
                        data-ad-client="ca-pub-2476399156226109"
                        data-ad-slot="6614818154"></ins>
                        <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                      </div>
                </div>
              </div>
        </main>
{% endblock %}

