{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}

<div class="body-overlay" id="body-overlay"></div>

    
<div class="container">
    <div class="align-items-center d-flex justify-content-center vh-100">
        <div class="register-page" style="margin-top: 300px;">
            <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
            <h3>Let’s create an Account.</h3>
            <p>Let us know what your details</p>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}{{ field.name }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <form class="default-form-wrap" method="POST" action="{% url 'account_signup' %}">
              {% csrf_token %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>
                      <input type="text" placeholder="username" name="username" class="form-control" id="text-field-hero-input">
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>    
                      <input type="email" placeholder="email" name="email" placeholder="" class="form-control" id="text-field-hero-input">
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>
                      <input onkeyup="this.value = this.value.toUpperCase();" type="text" placeholder="name" name="name" minlength="1" maxlength="150" class="form-control" id="text-field-hero-input">
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>
                      <input type="text" placeholder="mobile" name="mobile" minlength="10" maxlength="10" class="form-control" id="text-field-hero-input">
                    </div>
                  </div>
                        
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/message.svg' %}" alt="img"></label>
                      <input type="text" placeholder="referal code" name="referal_code" placeholder="" class="form-control" id="id_username" autocomplete="off">
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/password.svg' %}" alt="img"></label>
                      <input placeholder="password" name="password1" class="form-control" type="password" id="text-field-hero-input">
                      <button class="show-pass-btn"><img src="{% static 'static/img/icon/eye.svg' %}" alt="img"></button>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><img src="{% static 'static/img/icon/password.svg' %}" alt="img"></label>
                      <input placeholder="confirm password" name="password2" class="form-control" type="password" id="text-field-hero-input">
                      <button class="show-pass-btn"><img src="{% static 'static/img/icon/eye.svg' %}" alt="img"></button>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="single-input-wrap">
                      <label><input type="checkbox" required /></label>
                      <a href="/terms" class="show-pass-btn">I Accept <strong>Terms & Conditions</strong></a>
                    </div>
                  </div>
                  </div>
                <button type="submit" class="btn btn-base w-100">Signup</button>
            </form>
            <div class="text-center">
                <div class="or-border"><span>Or Sign Up With</span></div>
                <ul class="social-area">
                    <li><img src="{% static 'static/img/icon/facebook.svg' %}" alt="img"></li>
                    <li><img src="{% static 'static/img/icon/apple.svg' %}" alt="img"></li>
                    <li><img src="{% static 'static/img/icon/google.svg' %}" alt="img"></li>
                </ul>
            </div>

            <span class="another-way-link">Already have an Account? <a href="/users/">Login</a></span>
        </div>           
    </div>
</div>

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>                
{% endblock %}