{% extends 'apnabase.html' %}
{% load static %}

{% block content %}
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Deposit</h3>
        <div class="balance"> <span><img src="{% static 'static/img/icon/dollar-sign.png' %}" alt="img"></span></div> 
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            <div class="media">
                <div class="media-body">
                    <h6 class="profile-name">{{message}}</h6>
                </div>
                <img class="star star1" src="{% static 'static/img/icon/star.png' %}" alt="img">
                <img class="star star2" src="{% static 'static/img/icon/star.png' %}" alt="img">
            </div>
        </div>
    </div>
    <div class="container">
      <br>
      <p>TDi8v4KdDwSH8KdeKkfEoYewkG5q51erZk</p>
      <br>
      {% if request.user.wallet == 0 %}
      <select id="my-select" class="form-control">
        <option value="2000">2000</option>
        <option value="5000">5000</option>
        <option value="10000">10000</option>
      </select><br>
      {% else %}
      <select id="my-select" class="form-control">
        <option value="1000">1000</option>
        <option value="1000">2000</option>
        <option value="1000">3000</option>
        <option value="1000">5000</option>
        <option value="1000">10000</option>
        <option value="1000">20000</option>
        <option value="1000">25000</option>
        <option value="1000">50000</option>
        <option value="1000">100000</option>
      </select>
      {% endif %}
      <br>
      <a href="https://onramp.money/main/checkout/?appId=201349&fiatType=1&assetImage=https://crown.0x360.com/static/static/img/logo2.svg&assetDescription=RECHARGE%20FOR%20CROWN%20CASINO&coinCode=USDT&network=trc20&walletAddress=TDi8v4KdDwSH8KdeKkfEoYewkG5q51erZk&fiatAmount=10200&merchantRecognitionId=PAY202402231210488707542515712&paymentMethod=1&redirectUrl=https://crown.0x360.com/users" class="btn btn-base w-100" type="submit">
          Proceed
      </a>
      <script>
        document.getElementById('my-select').addEventListener('change', function(event) {
            var select = event.target;
            var selectedOption = this.selectedOptions[select.selectedIndex];
            console.log('You selected: ', selectedOption.getAttribute('value'));
        });
      </script>
    </div>{% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}