{% extends 'apnabase.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.black_content {
  display: none;
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  padding: 16px;
  border: 16px solid orange;
  background-color: black;
  z-index: 1002;
  overflow: auto;
}
.content {
  display: none;
}

.content--active {
  display: block;
}
select {
	display: block;
}
</style>
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Game</h3>
        <div class="balance">₹{{ request.user.wallet|floatformat:2 }}<span><img src="{% static 'static/img/icon/dollar-sign.png' %}" alt="img"></span></div> 
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            <div class="media">
                <img class="thumb" src="{{game.imageURL.url}}" style="width: 100px;" alt="img">
                <div class="media-body">
                    <h6 class="profile-name">{{ game.name }}</h6>
					<p>Next round will end at {{ results.0.end_time }}</p>
                </div>
                <img class="star star1" src="{% static 'static/img/icon/star.png' %}" alt="img">
                <img class="star star2" src="{% static 'static/img/icon/star.png' %}" alt="img">
            </div>
        </div>
    </div>
    <div class="container">
			<div style="overflow-x: visible;" class="table-responsive">
			<a class="btn-c btn-gradient-01 mr-1 mb-2" style="margin-left: 200px;" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Place Bet</a>
				<table style="width: 100%; margin-top: 10px;">
					<tbody>
						<tr>
						{% for product in results %}
							{% if forloop.counter0|divisibleby:6 %}
								</tr><tr>
									<td>
										<div>
											<p>{{ product.start_time|date:'d, M H:i' }}</p>
										</div>
										</td></td>
							{% endif %}
								<td>
									<div style="text-align: center; {% if product.published == 1 %}background-color: {% if product.result == 1 %}yellow{% elif product.result == 2 %}orange{% elif product.result == 3 %}green{% elif product.result == 4 %}blue{% elif product.result == 5 %}lime{% elif product.result == 6 %}navy{% elif product.result == 7 %}aqua{% elif product.result == 8 %}darkgreen{% elif product.result == 9 %}darkslateblue{% elif product.result == 10 %}indigo{% else %}red{% endif %}{% else %}background-color: red;{% endif %}">
										<p>{% if product.published == 1 %}{{ product.result }}{% else %}?{% endif %}</p>
									</td>
										
									</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
    </div>{% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>

<div id="light" class="black_content"><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
		<div class="content content--active">
			<form class="template-demo" method="POST" action="/games/place/" enctype="multipart/form-data">
		  	{% csrf_token %}
	        <input type="hidden" name="exact">
	        <input type="hidden" name="gid" value="{{game.id}}">
	        <input type="number" name="amount" class="form-control mt-3" placeholder="Amount">
	        <input type="number" max="10" name="bet" class="form-control mt-3" placeholder="Choose Your Number">
	          <button type="submit" class="btn btn-base w-100 mt-3">
	            Place Bet
	          </button>
          </form>
		</div>
	</div>
<div id="fade" class="black_overlay"></div>
<script type="text/javascript">
	var tabBar = new mdc.tabBar.MDCTabBar(document.querySelector('.mdc-tab-bar'));
var contentEls = document.querySelectorAll('.content');

tabBar.listen('MDCTabBar:activated', function(event) {
  // Hide currently-active content
  document.querySelector('.content--active').classList.remove('content--active');
  // Show content for newly-activated tab
  contentEls[event.detail.index].classList.add('content--active');
});
</script>
{% endblock %}