{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Game Details' %}{% endblock %}


{% block content %}
<style type="text/css">
	.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
.content {
  display: none;
}

.content--active {
  display: block;
}
select {
	display: block;
}
</style>
<div id="light" class="white_content"><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
	<div class="mdc-tab-bar" role="tablist">
		  <div class="mdc-tab-scroller">
		    <div class="mdc-tab-scroller__scroll-area">
		      <div class="mdc-tab-scroller__scroll-content">
		        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
		          <span class="mdc-tab__content">
		            <span class="mdc-tab__text-label">EvenOdd</span>
		          </span>
		          <span class="mdc-tab-indicator mdc-tab-indicator--active">
		            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		          </span>
		          <span class="mdc-tab__ripple"></span>
		        </button>
		        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
		          <span class="mdc-tab__content">
		            <span class="mdc-tab__text-label">BigSmall</span>
		          </span>
		          <span class="mdc-tab-indicator mdc-tab-indicator">
		            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		          </span>
		          <span class="mdc-tab__ripple"></span>
		        </button>
		        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
		          <span class="mdc-tab__content">
		            <span class="mdc-tab__text-label">Exact</span>
		          </span>
		          <span class="mdc-tab-indicator mdc-tab-indicator">
		            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		          </span>
		          <span class="mdc-tab__ripple"></span>
		        </button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="content content--active">
		  <form class="template-demo" method="POST" action="/games/place/" enctype="multipart/form-data">
		  	{% csrf_token %}
	        <h5>Choose Even or Odd</h5>
	        <input type="number" name="amount" placeholder="Amount">
	        <input type="hidden" name="evenodd">
	        <input type="hidden" name="gid" value="{{game.id}}">
	        <select name="bet">
	        	<option value="0">Even</option>
	        	<option value="1">Odd</option>
	        </select>
	          <button style="width: 80%" type="submit" class="mdc-button mdc-button--raised w-25">
	            Place Bet
	          </button>
          </form>
		</div>
		<div class="content">
			<form class="template-demo" method="POST" action="/games/place/" enctype="multipart/form-data">
		  	{% csrf_token %}
	        <input type="hidden" name="bigsmall">
	        <input type="hidden" name="gid" value="{{game.id}}">
	        <h5>Choose Big or Small</h5>
	        <input type="number" name="amount" placeholder="Amount">
	        <select name="bet">
	        	<option value="0">Small</option>
	        	<option value="1">Big</option>
	        </select>
	          <button style="width: 80%" type="submit" class="mdc-button mdc-button--raised w-25">
	            Place Bet
	          </button>
          </form>
		</div>
		<div class="content">
			<form class="template-demo" method="POST" action="/games/place/" enctype="multipart/form-data">
		  	{% csrf_token %}
	        <input type="hidden" name="exact">
	        <input type="hidden" name="gid" value="{{game.id}}">
	        <h5>Choose Even or Odd</h5>
	        <input type="number" name="amount" placeholder="Amount">
	        <input type="number" max="10" name="bet" placeholder="Number">
	          <button style="width: 80%" type="submit" class="mdc-button mdc-button--raised w-25">
	            Place Bet
	          </button>
          </form>
		</div>
	</div>
<div id="fade" class="black_overlay"></div>
<div class="body-wrapper">
	<div class="main-wrapper">
		<div class="page-wrapper full-page-wrapper">
			<main>
				<div>
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div style="box-shadow: 0;" class="mdc-card p-0 m-0">
								<div class="mdc-layout-grid__inner mt-2">
									<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-12-tablet">
										<div style="padding: 0px 0px;" class="mdc-card bg-white text-white">
										<h3 style="color: black;padding: 20px;text-align: center;">{{ game.name }}</h3>
										<h5 style="color: black; text-align: center;">Next round will end at {{ results.0.end_time }}</h5>
											<div style="overflow-x: visible;" class="table-responsive">
										<a class="mdc-button mdc-button--raised" style="margin-left: 70%;" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Place Bet</a>
												<table style="width: 100%">
													<tbody>
														<tr>
														{% for product in results %}
														    {% if forloop.counter0|divisibleby:6 %}
														        </tr><tr>
														        	<td>
														        		<div style="text-align: center;">
															        		<p style="color: black; font-size: 10px;">{{ product.start_time|date:'d, M H:i' }}</p>
															        	</div>
															        	</td></td>
														    {% endif %}
														        <td>
														        	<div style="text-align: center; {% if product.published == 1 %}background-color: {% if product.result == 1 %}yellow{% elif product.result == 2 %}orange{% elif product.result == 3 %}green{% elif product.result == 4 %}blue{% elif product.result == 5 %}lime{% elif product.result == 6 %}navy{% elif product.result == 7 %}aqua{% elif product.result == 8 %}darkgreen{% elif product.result == 9 %}darkslateblue{% elif product.result == 10 %}indigo{% else %}red{% endif %}{% else %}background-color: red;{% endif %}">
															        	<p style="font-size: 10px;">{% if product.published == 1 %}{{ product.result }}{% else %}?{% endif %}</p>
															        </td>
														        		
														        	</div>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
<script type="text/javascript">
	var tabBar = new mdc.tabBar.MDCTabBar(document.querySelector('.mdc-tab-bar'));
var contentEls = document.querySelectorAll('.content');

tabBar.listen('MDCTabBar:activated', function(event) {
  // Hide currently-active content
  document.querySelector('.content--active').classList.remove('content--active');
  // Show content for newly-activated tab
  contentEls[event.detail.index].classList.add('content--active');
});
</script>
{% endblock content %}