{% load static %}
<html>

<head>
  <title>Xavier+</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  #frow {
    margin-top: -10px!important;
  }
  
  .tabs .indicator {
    height: 5px;
    background-color: #FFF;
  }
  </style>
</head>
<header>
  <nav style="background-color: black;">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img width="130px" src="{% static 'Xavier.png' %}"></a>
      </div>
    </div>
  </nav>
</header>
<main>
<div style="background: blue" class="page-wrapper mdc-toolbar-fixed-adjust pt-5">
  <main>
    <div>
      <div class="mdc-layout-grid__inner">
        <div style="float: left; background-color: blue;" class="stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
          <div style="padding-left: 25%;" class="mdc-list-item mdc-drawer-item">
            <p class="mdc-drawer-link" style='color: white;
  font-size: bold;
  font-weight: bold;
  font-size: 11px;' href="/users/">
              Balance: <span style="font-size: 26px">₹{{ request.user.wallet|floatformat:2 }}</span>
            </p>
          </div>
          </div>
        <div style="float: right; background-color: blue;" class="stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
          <div style="padding-left: 25%;" id="btn-copy" class="mdc-list-item mdc-drawer-item">
            <p class="mdc-drawer-link" id='copy-text' style='color: white;
  font-size: bold;
  font-weight: bold;
  font-size: 11px;'>
              Today Profit: <span style="font-size: 26px">₹{{ request.user.today|floatformat:2 }}</span>
            </p>
          </div>
        </div>
        </div>
      </div>
    </main>
  </div>
  <div class="container">
    <div class="row" style="margin-top:20px;">
      <div id="test1" class="col s12">
        <div class="card">
            <p style="text-align: center;">ID Status: {% if request.user.c > 0 %}Active{% else %}Inactive{% endif %}</p>
          {% if not request.user.is_authenticated %}
          
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="/games/parameters/" />
            {% endif %}
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div>
                  <div class="mdc-text-field w-100">
                    <input style="font-size: .9rem;" autocomplete="sedrctvghb" type="text" class="mdc-text-field__input" id="text-field-hero-input" name="login" placeholder="User ID" autofocus="autofocus" maxlength="150">
                  </div>
                </div>
                <div>
                  <div class="mdc-text-field w-100">
                    <input style="font-size: .9rem;" autocomplete="sedrctvghb" type="password" class="mdc-text-field__input" id="text-field-hero-input" name="password" placeholder="Password" id="id_password">
                  </div>
                </div>
              </div>
              <div>
                <button type="submit">
                  Submit CROWN CASINO ID
                </button>
              </div>
            </div>
          </div>
        </form>
          {% endif %}
          <div class="card-image"> <img src="https://lh3.googleusercontent.com/HG5A_Hqdm5pjPzGNQCNepLp5AbsCLZZbWBjX0Q7psjEJRjDqEWnE7SNWlwbYYfL3uA"> <span class="card-title"></span> </div>
          <div class="card-content">
            <p>Xavier Presents bet and win! set the parameters and start winning daily.</p>
          </div>
          <div class="card-action"> <a href="#"></a> </div>
        </div>
      </div>
      <div id="test2" class="col s12">
        <div class="card blue-grey darken-1">
          <div class="card-content black-text"> 
            <div class="table-responsive">
              <table class="table dashboard-table">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Amount</th>
                    <th>Period</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody> 
                  {% for x in played_games %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ x.bet_amount|floatformat:2 }}</td>
                    <td>{{ x.id|add:1028 }}</td>
                    <td>INR {{ x.rewards|floatformat:2 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="test4" class="col s12">
        <div class="card">
          <div class="table-responsive" style="overflow-y: auto;">
              <table class="table dashboard-table">
                <thead>
                  <tr>
                    <th>Plan</th>
                    <th>Starting Amount</th>
                    <th>Empty Periods</th>
                    <th>TL1</th>
                    <th>Reduction %</th>
                    <th>TL2</th>
                    <th>Reduction %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><input type="text" name="" value="3.3"></td>
                    <td>30</td>
                    <td>3000</td>
                    <td>20%</td>
                    <td>5000</td>
                    <td>40%</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><input type="text" name="" value="2.2"></td>
                    <td>30</td>
                    <td>3000</td>
                    <td>20%</td>
                    <td>5000</td>
                    <td>40%</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><input type="text" name="" value="1.1"></td>
                    <td>30</td>
                    <td>3000</td>
                    <td>20%</td>
                    <td>5000</td>
                    <td>40%</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td><input type="text" name="" value=".66"></td>
                    <td>30</td>
                    <td>3000</td>
                    <td>20%</td>
                    <td>5000</td>
                    <td>40%</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><input type="text" name="" value=".44"></td>
                    <td>30</td>
                    <td>3000</td>
                    <td>20%</td>
                    <td>5000</td>
                    <td>40%</td>
                  </tr>
                </tbody>
              </table>
              <button type="submit">
                Save
              </button>
              <br><br><br><br><br><br>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer style="position: fixed;top: 90%;width: -webkit-fill-available; background: #0951ad;" class="page-footer">
  <div class="row" id="frow" style="margin-bottom:0px;">
    <div class="col s12" style="padding-left:0px!important;padding-right:0px!important;">
      <ul class="tabs tabs-fixed-width transparent black-text">
        <li class="tab col s3 black-text"><a href="#test1" class="active black-text"><i class="material-icons">dashboard</i></a></li>
        <li class="tab col s3"><a href="#test2" class="black-text"><i class="material-icons">list</i></a></li>
        <li class="tab col s3"><a href="#test4" class="black-text"><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
  </div>
</footer>

<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>