{% extends 'apnabase.html' %}
{% load static %}

{% block content %}
<div class="body-overlay" id="body-overlay"></div>

    
<div class="single-page-area">
    <div class="title-area justify-content-between">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3 class="ps-4">Profile</h3> 
    </div>
    <div class="container">
        <div class="my-profile-wrap">
            <div class="media">
                <img class="thumb" src="{% static 'static/img/comment/my-profile.png' %}" alt="img">
                <div class="media-body">
                    <h6 class="profile-name">{{ request.user.name }}</h6>
                    <p class="profile-mail">{{ request.user.email }}</p>
                </div>
                <img class="star star1" src="{% static 'static/img/icon/star.png' %}" alt="img">
                <img class="star star2" src="{% static 'static/img/icon/star.png' %}" alt="img">
            </div>
        </div>
    </div>
    {% include 'partial.html' %}
    <div class="container">
        <ul class="profile-list-inner">
            <li>
                <a class="single-profile-wrap" href="/users/~update/"><i class="fa fa-user"></i> My Profile <i class="ri-arrow-right-s-line"></i></a>
            </li>
            <li>
                <div class="single-profile-wrap">
                    <i class="fas fa-cloud-moon"></i>
                    Dark/Light Mode
                    <div class="dark-area">
                        <label class="change-mode switch">
                            <input type="checkbox" data-active="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <a class="single-profile-wrap" href="/level/team/{{request.user.username}}/0/"><i class="fas fa-users"></i> Referrals <i class="ri-arrow-right-s-line"></i></a>
            </li>
            <li>
                <a class="single-profile-wrap" href="/wallet/history/"><i class="fas fa-chart-line"></i> Wallet History <i class="ri-arrow-right-s-line"></i></a>
            </li>
            <li>
                <a class="single-profile-wrap" href="/accounts/password/change/"><i class="fas fa-lock"></i> Change Password <i class="ri-arrow-right-s-line"></i></a>
            </li>
            <li>
                <a class="single-profile-wrap" href="/terms/"><i class="fas fa-exclamation-triangle"></i>Terms & Conditions <i class="ri-arrow-right-s-line"></i></a>
            </li>
            <li>
                <a class="single-profile-wrap" href="/accounts/logout/"><i class="fas fa-sign-out-alt"></i>Log Out <i class="ri-arrow-right-s-line"></i></a>
            </li>                
        </ul>
    </div>
    {% include 'bottom.html' %}
</div>     
<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}



