{% extends "apnabase.html" %}
{% load static i18n %}

{% block content %}

<div class="body-overlay" id="body-overlay"></div>
    
<div class="term-condition-page">
    <div class="container">
        <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
        <h3>Terms & Conditions</h3>
        <p>The Terms and Conditions exists for the benefit of Crown Casino Inc. and it's Distributors. Crown Casino Inc., at its sole discretion, reserves the right to terminate the account of any Marketing Associate caught in violation of the Terms and Conditions without Permission.</p>
         <h4>Crown Casino Inc. reserves the right to change these Terms and Conditions at any time.</h4>
         <h4>1. ILLEGAL ACTIVITY</h4>
         <p>Distributor may not present Crown Casino Inc. promotions on any page, news group, email or any distribution method that is regarded objectionable by Crown Casino Inc.. Its Internet Service Provider, or otherwise considered unlawful according to any controlling legel authority.</p>
         <h4>2. THIRD PARTY LIABILITY</h4>
         <p>Crown Casino Inc. willing no way be liable for the actions of third parties that may in may in any way cause member harm.</p>
         <h4>3. CHANGES</h4>
         <p>Crown Casino Inc. reserves the right to update, modify, add or change, the terms and conditions without notice.</p>
         <h4>4. TERMINATION</h4>
         <p>The Membership of the distributor can not be canceled by Crown Casino Inc. without any reason.</p>
         <h4>5.ETHICS</h4>
         <p>Any distributor acting unethical or unprofessional may be removed without refund at the sole discretion of Crown Casino Inc. with all future commissions or lead and /or traning usage forfeited.</p>
         <h4>6.CANCELLATION/TERMINATION OF MEMBERSHIP.</h4>
         <p>Any distributior that is cancelled / terminated will forfeit all benefits and privileges associated with Crown Casino Inc..Any position held in participating programs owned by Crown Casino Inc. will also be fortified and ownership will be reassigned to Crown Casino Inc..</p>
         <h4>7. COPYRIGHT MATERIAL.</h4>
         <p>All branding, logos and graphics contained within Crown Casino Inc. are copyright use:, distribution or copying of such content is expressly prohibited.</p>
         <h4>8.DAMAGING INTENT</h4>
         <p>Any distributior who engages in chat, email, postings, or any other medium, content that is deemed damaging to Crown Casino Inc. and or it's employees and/or fellow distributor will be terminated from Crown Casino Inc.. Depending on seriousness, Crown Casino Inc. may deem it appropriate to exercise legel action.</p>
         <h4>9. UCE/UBE or SPAM</h4>
         <p>Crown Casino Inc. strictly prohibits the use of UCE or SPAM.</p>
         <h4>10. CONTACT INFORMATION</h4>
         <p>It is responsibility of distributors to keep their personal records upto date at the member's area. Crown Casino Inc. will not be responsible for communication error due to incorrect or out of date contact information. Continued failed attempts to make contact with you may result in the termination of your account.</p>
         <h4>11. TAX</h4>
         <p>You, the distributor, are responsible for any and all taxes payable in your resident domicile or jurisdiction, for any income you receive either from Crown Casino Inc. or any leads sold via the Crown Casino Inc. Website.</p>
         <h4>12. LIMITATION OF LIABILITY: SOLE AND EXCLUSIVE REMEDY : INDEMNIFICATION.</h4>
         <p>You agree that Crown Casino Inc. is NOT responsible for the success or failure of your business or your business decision relating to any information presented by our company or our company services.</p><div class="btn-wrap">
         <a class="btn btn-border" href="https://google.com/">Cancel</a>
         <a class="btn btn-base" href="/users/">Agree</a>
        </div>
    </div> 
</div>

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
{% endblock %}

