{% load static i18n %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block refresh %}
        <meta http-equiv="refresh" content="30">
        {% endblock refresh %}
        <title>Crown Casino Inc. - Sports Betting | {% block title %}{% endblock title %}</title>
        <!--fivicon icon-->
        <link rel="icon" href="{% static 'static/img/fevicon.png' %}">

        {% block css %}
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'static/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/magnific.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/owl.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/slick-slide.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/remixicon/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/responsive.css' %}">
        {% endblock css %}
        {% block head %}{% endblock head %}
    
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    
    
    </head>
    <body class='sc5' style="padding-top: 200px; margin-top: 200px;">
      {% block body %}
      
        {% if request.user.is_authenticated %}
        {% endif %}
        {% block wrapper %}
        {% if user.is_authenticated %}
        <!-- <div align="center" style="background: black;" class="pt-4">
          <div align="center" style="background: black;" class="pt-2">
          <div style="background: black" class="page-wrapper mdc-toolbar-fixed-adjust ">
            <main>
              <div>
                &nbsp;
                </div>
              </main>
            </div>
          </div>
          <div style="background: rgb(237,246,8)" class="page-wrapper mdc-toolbar-fixed-adjust pt-5 pb-3">
            <main>
              <div>
                <div class="mdc-layout-grid__inner">
                  <div class="stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                    <div style="padding-left: 15%;" class="mdc-list-item mdc-drawer-item">
                      <p class="mdc-drawer-link" style='color: black;
            font-size: bold;
            font-weight: bold;
            font-size: 11px;' href="/users/">
                        Balance: <span style="font-size: 26px">₹{{ request.user.wallet|floatformat:2 }}</span>
                      </p>
                    </div>
                    </div>
                  <div class="stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                    <div style="padding-left: 18%;" id="btn-copy" class="mdc-list-item mdc-drawer-item">
                      <p class="mdc-drawer-link" id='copy-text' style='color: black;
            font-size: bold;
            font-weight: bold;
            font-size: 11px;'>
                        Today Profit: <span style="font-size: 26px">₹{{ request.user.today }}</span>
                      </p>
                    </div>
                  </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
          <div align="center" style="background: black;" >
          <div style="background: black" class="page-wrapper mdc-toolbar-fixed-adjust ">
            <main>
              <div>
                &nbsp;
                </div>
              </main>
            </div>
          </div> -->
        {% endif %}
          {% block content %}
          <div class="body-overlay" id="body-overlay"></div>
        
          <div class="main-page bg-main d-flex align-items-center justify-content-center vh-100">
              <div class="container">
                  <div class="d-block text-center">
                      <img class="light-logo" src="{% static 'static/img/main-logo.png' %}" alt="img">
                      <img class="darkmode-logo" src="{% static 'static/img/main-logo-dark.png' %}" alt="img">
                      <a class="btn btn-white" href="/onboard">GET STARTED</a>
                  </div>
              </div>
          </div>    
          {% endblock content %}
        {% endblock wrapper %}
        <!-- back-to-top end -->
        <div class="back-to-top">
            <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
        </div>
        
        <script src="{% static 'static/js/jquery.3.6.min.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'static/js/imageloded.min.js' %}"></script>
        <script src="{% static 'static/js/counterup.js' %}"></script>
        <script src="{% static 'static/js/waypoint.js' %}"></script>
        <script src="{% static 'static/js/magnific.min.js' %}"></script>
        <script src="{% static 'static/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'static/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'static/js/nice-select.min.js' %}"></script>
        <script src="{% static 'static/js/fontawesome.min.js' %}"></script>
        <script src="{% static 'static/js/owl.min.js' %}"></script>
        <script src="{% static 'static/js/slick-slider.min.js' %}"></script>
        <script src="{% static 'static/js/wow.min.js' %}"></script>
        <script src="{% static 'static/js/tweenmax.min.js' %}"></script>
        <!-- main js  -->
        <script src="{% static 'static/js/main.js' %}"></script>
        

        {% block modal %}
        {% endblock modal %}
      {% endblock body %}
    </body>
</html>