{% extends 'apnabase.html' %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}
    
    {% block content %}
    <div class="body-overlay" id="body-overlay"></div>
    
        
    <div class="single-page-area">
        <div class="title-area justify-content-between">
            <a class="btn back-page-btn" href="javascript:history.back()"><i class="ri-arrow-left-s-line"></i></a>
            <h3 class="ps-4">Dashboard</h3></div>
        <div class="container">
            <div class="my-profile-wrap">
                <div class="media">
                    <img class="thumb" src="{% static 'static/img/comment/my-profile.png' %}" alt="img">
                    <div class="media-body">
                        <h6 class="profile-name">{{ request.user.name }}</h6>
                        <p class="profile-mail">{{ request.user.email }}</p>
                    </div>
                    <img class="star star1" src="{% static 'static/img/icon/star.png' %}" alt="img">
                    <img class="star star2" src="{% static 'static/img/icon/star.png' %}" alt="img">
                </div>
            </div>
        </div>
        {% include 'partial.html' %}
        <div class="container">
          <div class="sports-slider-wrap slider-for">
            <div class="slider-content">
              <div class="single-product-wrap">
                <h6 class="title">{{ game.name }}</h6>
                <div class="details">
                  <a href="/users/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/2163/2163350.png">
                    <h6 class="team-name"><br>Home</p>
                  </div>
                  </a>
                  <a href="/order/checkout/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/1763/1763476.png">
                    <h6 class="team-name"><br>Recharge</p>
                  </div>
                  </a>
                  <a href="/level/team/{{request.user.username}}/0/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/13065/13065513.png">
                    <h6 class="team-name"><br>Referrals</p>
                  </div>
                </a>
                </div>
                <div class="details">
                <a href="/wallet/transfer/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/7401/7401215.png">
                    <h6 class="team-name"><br>Transfer</p>
                  </div>
                </a>
                <a href="/wallet/imps-transfer/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://i.pinimg.com/originals/30/99/33/3099337c4b4b217c095f3372fc0065d8.png">
                    <h6 class="team-name"><br>Withdraw</p>
                  </div>
                </a>
                <a href="/wallet/history/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/7050/7050590.png">
                    <h6 class="team-name"><br>History</p>
                  </div>
                </a>
                </div>
                <div class="details">
                <a href="/accounts/password/change/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/11135/11135307.png">
                    <h6 class="team-name"><br>Security</p>
                  </div>
                </a>
                <a href="/accounts/logout/">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://cdn-icons-png.flaticon.com/512/10313/10313098.png">
                    <h6 class="team-name"><br>Logout</p>
                  </div>
                </a>
                <a href="https://crowncasinosupport.tawk.help/" target="_blank">
                  <div class="thumb">
                    <img style="padding: 10px" src="https://icon-library.com/images/customer-support-icon-png/customer-support-icon-png-19.jpg">
                    <h6 class="team-name"><br>Contact</p>
                  </div>
                </a>
                </div>
            </div>
            </div>
        </div>

            
            
        </div>{% include 'bottom.html' %}
    </div>     
    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>
    {% endblock %}