    {% extends "users/base.html" %}
    {% load static i18n %}
    {% block title %}{% trans 'Dashboard' %}{% endblock %}
    {% load sum_tags %}


    {% block content %}
    <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content">
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main style="background: white; padding-top: 0" class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
            <div style="height: 70px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div style="margin: 0; padding: 0" class="mdc-card text-white info-card info-card--danger" style="background: #14bbce;">
                <div style="margin: 0; padding: 0" class="card-inner">
                  <img style="max-width: -webkit-fill-available;" src="https://i.imgur.com/Gg7G2hj.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
    {% endblock content %}
