    {% extends "users/base.html" %}
    {% load static i18n %}
    {% block title %}{% trans 'Dashboard' %}{% endblock %}
    {% load sum_tags %}


    {% block content %}
    <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content">
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main style="background: white; padding-top: 0" class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            {% for game in games %}
            <a href='/games/{{game.id}}' style="height: 166px; margin: 0; padding: 0" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-phone">
              <div class="mdc-card info-card info-card--danger">
                <img style="max-width: -webkit-fill-available;" src="{{game.imageURL.url}}">
                <p style="text-align: center; font-size: 8px; line-height: 0.9rem;"><br>{{ game.name }}</p>
              </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>
</div>
    {% endblock content %}
